body{
    overflow:hidden;
    box-sizing: border-box;
    margin: 0px;
     padding: 0px;
     background-image: url("adminbg.jpg");        
     background-size: cover;
     background-repeat: no-repeat;
}
.seek-bar {
        margin: 20px;
        height: 6px;
        width: 400px;
        background-color:rgb(96,96,96);
        display: flex;
        align-items: center;
        border-radius: 100000px;
        cursor: pointer;
        position: absolute;
        bottom:25px;
        right: 35%;
    }
.current-time{
            position:absolute;
            float: left;
            font-size:17px;
            bottom: 38px;
            right: 63.25%;
            font-family: Arial, Helvetica, sans-serif;
        }
        .duration-time{
            position:absolute;
            float: right;
            font-size:17px;
            bottom: 40px;
            right: 33%;
            font-family: Arial, Helvetica, sans-serif;
        }
.audio-player {
    display: flex;
    align-items: center;
}
 /*.footer-bottom{
     background-color:rgb(208,211,212);
     height: 200px;
     width: 100%;
     bottom: 0;
     position: absolute;
     
 }*/
    .audio-player .playorpause {
        display: block;
        width: 50px;
        height: 50px;
        border: 0;
        background-color:black;
        color: white;
        font-size:23px;
        border-radius: 100000px;
        cursor: pointer;
        position: absolute;
        bottom: 10%;
        right: 47.75%;
        outline: 0;
    }
    .audio-player .next{
        display: block;
        width: 45px;
        height: 45px;
        border: none;
        background-color:transparent;
        color:black;
        font-size:23px;
        cursor: pointer;
        position: absolute;
        bottom: 9.5%;
        right: 43.5%;
        outline: 0;
    }
    .audio-player .loop{
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        background-color:transparent;
        color:black;
        font-size:23px;
        cursor: pointer;
        position: absolute;
        bottom: 10.5%;
        right: 40%;
        outline: 0;
    }
    .audio-player .shuffle{
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        background-color:transparent;
        color:black;
        font-size:23px;
        cursor: pointer;
        position: absolute;
        bottom: 10.5%;
        right: 57.5%;
        outline: 0;
    }
    .audio-player .back{
        display: block;
        width: 45px;
        height: 45px;
        border: none;
        background-color:transparent;
        color:black;
        font-size:23px;
        cursor: pointer;
        position: absolute;
        bottom: 9.5%;
        right: 52.5%;
        outline: 0;
    }
.button .playorpause
{
    width: 10px;
    height: 10px;
    border-style: solid;
    border-color: #202020;
  }    
       .seek-bar  .fill {
            height: 5px;
            background-color:black;
            border-radius: 100000px;
        }
        .seek-bar .handle {
            width: 8px;
            height: 8px;
            background-color:black;
            border-radius: 100000px;
            margin-left: -5px;
            transform: scale(1.75);
            transition: all 0.1s;
        }
           .seek-bar .handle:hover {
                background-color: lighten(black, 10%);
                transform: scale(2.25);
            }