

  body {
    margin: 0;
    overflow: hidden;
    height: 100%;
  }
  
  .header {
    display: flex;
    margin: 0;
    position: sticky;
    top: 0;
    height: 80px;
    background-color: #282828;
    align-items: center;
  }
  
  .content {
    display: flex;
    height: 612px;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    flex: 5;
    padding: 20px;
    overflow-y: auto;
    background-color: #303030;
    color: white;
  }
  
  .trend_content {
    display: none;
    flex-direction: column;
    flex: 5;
    background-color: #303030;
    color: white;
    padding: 20px;
  }
  
  .liked {
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #303030;
    color: wheat;
    padding: 20px;
  }

  .flexbox
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    padding: 3% 3%;

  }

  .spacing
  {
    padding: 2% 4%;
  }

  .kontent
  {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  /*
  .visible
  {
    z-index: 1;
  }
  */
  
  .not_visible,
  .hide {
    display: none;
  }
  
  .sidenav {
    flex: 1;
    background-color: #252525;
    /*padding: 20px;*/
  }
  
  .sidenav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
  }
  
  .sidenav .log 
  {
    font-size: 30px;
    color: white;
    background-color: #252525;
    cursor: pointer;
    border:none;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
  }
  .side_style button 
  {
    outline: none;
    border:none;

  }
  @media screen and (max-width: 700px) {
    .content {
      flex-direction: column;
    }
  }
  
  .logo {
    cursor: pointer;
    align-self: center;
  }
  
  /*
    .header > div {
      color: white;
      margin: 10px;
      text-align: center;
      line-height: 75px;
      font-size: 30px;
    }
    */
  
  .premium {
    display: inline-flex;
    padding: 10px;
    margin: 10px 10px 10px auto;
  }
  
  .profile {
    display: inline-flex;
    padding: 10px;
    margin: 10px 10px 10px 10px;
  }
  
  .old {
    font-size: 25px;
    color: black;
    cursor: pointer;
    user-select: none;
  }
  .new {
    font-size: 25px;
    color: red;
    cursor: pointer;
    user-select: none;
  }
  
  .album,
  .hollywood,
  .bollywood,
  .spanish,
  .trend1 {
    display: flex;
    /*height: 200px;*/
    margin: 10px;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    width:auto;
  }
  
  .download_icon {
    cursor: pointer;
    border-radius: 100000px;
    height: 20px;
    width: 20px;
    right: 10px;
    position:absolute;
  }
  .download_btn{
    cursor: pointer;
    border-radius: 100000px;
    height: 20px;
    width: 20px;
   
  }
  .song_img {
    width: 180px;
    height: 170px;
    margin-bottom: 5px;
  }
  
  .actions {
    opacity: 0;
  }
  
  .card {
    padding: 20px;
    transition: transform 0.4s;
  }
  
  .card:hover {
    transform: scale(1.08);
  }
  
  .card:hover .actions {
    opacity: 1;
  }
  .column {
    float: left;
    width:auto;
    padding: 60px;
  }
  .column1 {
    /*float: left;*/
    /*width:46%;*/
    padding: 30px 90px 90px 90px;
    overflow: hidden;
    font-size: 25px;
    flex-direction: column;
  }
  .column2 {
    /*float: left;*/
    /*width:39%;*/
    padding: 30px 90px 90px 90px;
    overflow: hidden;
    font-size: 25px;
    flex-direction: column;

  }
   .icons 
  {
    float:right;
    /*padding-bottom:5px;*/
  }
  
 
  /*table
  {
    width: 250px;
    margin-right:0px;
  }*/

 
 .sidenav .side_style 
 {
    padding: 18px;
 }

.column3 .close ,.column3 .close1
{

   background-color:rgba(220,0,0,1);
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   display: inline-block;
   border-radius: 5px;
   border: 1px solid black;
   padding :4px;
   text-align: center;
   width:80px;
   cursor: pointer;
   outline: none;
   box-shadow:inset 2px 2px 3px rgba(255,255,255,0.6),inset -2px -2px 3px rgba(0,0,0,0.6); 
}
.close:hover , .close1:hover
{
  text-decoration: none;
  background-color:rgba(255,0,0,1);
}
.close 
{
  top:60%;
  position: absolute;
}
.close1 
{
  top:75%;
  
}


#trending table th
{
    font-size: 30px;
    padding: 15px 0px;
    color: wheat;
}

table td{
    text-align: center;
    font-size: 25px;
    color: rgba(199, 141, 33, 0.973);
    text-transform: capitalize;
    padding: 7px 0px;
}
.fixing 
{
  color: wheat;
}

.header .title 
{
  font-size: 30px;
  color: #d8d8d8;
  padding : 15px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
