
  #logout ,#member,#display_details{
    display: none;
    background-image: url('images/alert_bg.jpg');
    position: absolute;
    width: 400x;
    height: 140px;
    top: 38%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 50%;
    margin-left: -100px;
    padding: 8px 8px 8px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    border: 2px solid black;
    z-index: 1;

  }

  
  #logout .yes ,#member .yes,#display_details .yes{
        background-color:limegreen;
       position: absolute;
        border-radius: 5px;
        border: 1px solid black;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding :4px;
        top: 47%;
       left: 15%;
        text-align: center;
        width:82px;
        cursor: pointer;
        color: black;
        outline:none;
        display:inline-block;
        box-shadow:inset 2px 2px 3px rgba(255,255,255,0.6),inset -2px -2px 3px rgba(0,0,0,0.6); 
  }
  #logout a,#member a{
      text-decoration: none;
      color:black;
  }
  #logout .yes:hover, #member .yes:hover{
      text-decoration: none;
        background-color: green;
     
      
  }
 
  #logout  .no:hover, #member .no:hover{
      text-decoration: none;
      background-color:rgba(255,0,0,1);

  }
  #logout .message,#member .message{
      text-align:left;
      font-size: 20px;

  }
  #logout .no ,#member .no {
    background-color:rgba(220,0,0,1);
    position: absolute;
    top: 47%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    right: 15%;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid black;
    padding :4px;
    text-align: center;
    width:80px;
    cursor: pointer;
    outline: none;
    box-shadow:inset 2px 2px 3px rgba(255,255,255,0.6),inset -2px -2px 3px rgba(0,0,0,0.6); 
}

#info ,#already{
    display: none;
    background-image: url('images/alert_bg.jpg');
    /*
    background-image: linear-gradient(180.3 deg, rgba(221,221,221,1) 5.5%, rgba(110,136,161, 1) 90.2%);    
    */
    position: absolute;
    height: 225px;
    top: 32%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 49%;
    margin-left: -100px;
    padding: 8px 8px 8px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: left;
    border: 2px solid black;
    z-index: 1;
  }

  #info .info-contents,#already .info-contents{
      padding-bottom: 20px;
        font-size: 18px;
  }
  #info label,#already label{
      padding: 6px;
      display: flex;
      line-height: 2px;
      text-align: right;
  }
 
  #info  .no:hover,#already .yes:hover{
      text-decoration: none;
      background-color:#56a5ec;
  }
  #info .message,#already .message{
      text-align:left;
      font-size: 25px;
      padding-bottom: 5px;
  }
  #info .no, #already .yes{
    background-color: #82cafa;
    position: absolute;
    top: 85%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    right: 9%;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid black;
    padding :4px;
    text-align: center;
    width:80px;
    cursor: pointer;
    outline: none;
    box-shadow:inset 2px 2px 3px rgba(255,255,255,0.6),inset -2px -2px 3px rgba(0,0,0,0.6); 
}
