
*{
   box-sizing: border-box;
   outline: none ;
 }
 
 body{
   margin: 0px;
   font-family: Arial, Helvetica, sans-serif;
   background-image: url('images/login1_bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
 }
 
 .modal{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
 }
 
 .modal-content{
   display: flex;
   flex-direction: column;
   border: 1px solid black;
   width: 30%;
   /*background-color:#303030;*/
   background-color: transparent;
 }
 
 .imgcontainer{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   margin-bottom: 20px;
 }
 
 .avatar{
   border-radius: 10000px;
   width: 40%;
 }
 
 .container{
   display: flex;
   flex-direction: column;
   padding: 15px 40px 0px 30px;
   flex: 5;
 }
 
 .btn{
   display: flex;
   align-items: center;
   margin: 20px 0px 20px 15px;
 }
 
 .btn .login_btn{
   background-color: #4CAF50;
   font-size: 15px;
   padding: 8px 12px;
   width: 30%;
   border: none;
   margin-left: 20px;
   box-shadow:inset 2px 2px 3px rgba(255,255,255,0.6),inset -2px -2px 3px rgba(0,0,0,0.6); 
 }
 
 .btn .login_btn:hover{
   cursor: pointer;
   background-color: green;
 }
 
 .psw{
   margin-left: auto;
   margin-right: 60px;
   font-size: 18px;
 }
 
 a:visited{
   color: blue;
 }
 
 .bottom{
   background-color:#D0D0D0;
   margin: 1px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 1;
 }
 
 .labels{
   font-size: 20px;
 }
 
 .select{
   width: 95%;
   margin: 10px 0 20px 0px;
   background-color:#e5e5e5;
   padding: 12px;
 }
   
 .modal-content .err_msg{
   font-size: 18px;
   color: red;
   padding: 15px 40px;
   text-align: center;
 }
