body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('images/login_bg.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

label{
  text-align: center;
}

input {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline:none;
}

.container button {

  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  box-shadow:inset 2px 2px 3px rgba(255,255,255,0.6),inset -2px -2px 3px rgba(0,0,0,0.6); 
  
}

.container button:hover {
  background-color: green;
}

.cancelbtn {
 width: auto;
 padding:7px 10px ;
 background-color:#56a5ec;
 margin-bottom:5px;
 box-shadow:inset 2px 2px 3px rgba(255,255,255,0.6),inset -2px -2px 3px rgba(0,0,0,0.6); 
 cursor: pointer;
 border: none;
}
.cancelbtn a{
  text-decoration:none;
  color:white;
}
.cancelbtn:hover{
   background-color: darkcyan;
}

.container input{
   padding: 10px;
}

.imgcontainer {
 text-align: center;
 margin: 24px 0 35px 0;
 position: relative;
}

img.avatar {
 width: 38%; 
 height: 35%;
 background-color:black;
 border-radius:110px;

}

.container {
 padding: 16px;
 margin-left: 12px;
}

.bottom{

 padding: 1.5px 10px 10px 10px;
 height: 50px;
 text-align: center;
}

span{
   position: relative;
   top:70%;
   margin-left:130px;
}
span a{
   text-decoration: none;
   color:#E7DADA;
   font-size: 16px;
   vertical-align: middle;
}
span a:hover{
   color:darkblue;
   text-decoration: underline;
}

.modal {
  margin-top: 65px;
  margin-left: 475px;
  position: relative; 
  width: 35%; 
  height: 65%;
  border: none;
  /*overflow: hidden; 
  */
}

.modal-content {
 /* background-color: rgba(255,255,255,0.1);*/
 background-color: transparent;
   margin: 5% auto 5% auto; 
 border: 1px solid black;
 width: 80%; 
 align-items: center;
}
.container .line{
   text-align: center;
   font-size: 14px;
   font-weight : bold;
   color: black;
}
.modal .warning{
   top: 2%;
   position: absolute;
  right: 20.5%;
  display: none;
}
.bottom a{
  text-decoration: none;
  color:white;
}
