

  *{
    box-sizing: border-box;
  }
  
  body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('images/reg_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .modal-content{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 33.33%;
    background-color: rgba(255,255,255,0.1);
  }
  
  .heading{
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    flex: 1;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    padding: 15px 40px 0px 40px;
    flex: 5;
  }
  
  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .btn-success{
    background-color: #4CAF50;
    font-size: 15px;
    padding: 8px 12px;
    border: none;
    box-shadow:inset 2px 2px 3px rgba(255,255,255,0.6),inset -2px -2px 3px rgba(0,0,0,0.6); 
  }
  
  .btn-success:hover {
    cursor: pointer;
    background-color: green;
  }
  
  .signup_btn{
    margin-bottom: 0px;
  }
  
  .bottom{
    background-color:#D0D0D0;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  
  .labels{
    font-size: 20px;
  }
  
  .select{
    width: 95%;
    margin: 10px 0 20px 0px;
    background-color:#e5e5e5;
    padding: 12px;
  }
  
  .cancelbtn{
    padding:7px 10px ;
    background-color:#56a5ec;
    margin-bottom:5px;
    box-shadow:inset 2px 2px 3px rgba(255,255,255,0.6),inset -2px -2px 3px rgba(0,0,0,0.6); 
    border: none;
  }
  
  .cancelbtn a{
    color: white;
    text-decoration: none;;
  }
    
  .cancelbtn:hover{
    cursor: pointer;
    background-color: darkcyan;
  }
    
  .err_msg{
    font-size: 18px;
    color: red;
    padding: 15px 40px;
  }
