body{
    font-family: Arial, Helvetica, sans-serif;
    /*background-image:linear-gradient(to right,#252525,rgba(94, 82, 82, 0.5));*/
    background-image: url('home3.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*
  .head
  {
      text-align: center;
      margin-top:80px;
      color: white;
      font-size: 25px;
  }
  */

  .head
  {
    text-align: center;
    color: white;
      font-size: 25px;
  }
  label{
    text-align: center;
    margin-bottom: 8px;
  }
  
  .select
   {
    width: 90%;
    padding: 12px 20px;
    margin: 11px 0;
    display: block;
    border: 1px solid #ccc;
    background-color:#e5e5e5;
    box-sizing: border-box;
  }
  
  .btn button{
  
    background-color: #4CAF50;
    color: white;
    padding: 13px;
    margin: 7px 0;
    border: none;
    cursor: pointer;
    width: 32%;
    font-size: 15px;
    box-shadow:inset 2px 2px 3px rgba(255,255,255,0.6),inset -2px -2px 3px rgba(0,0,0,0.6); 
    
  }
  
  .btn button:hover {
    background-color: green;
  }
  
  .cancelbtn {
   width: auto;
   padding:7px 10px ;
   background-color:#56a5ec;
   margin-bottom:5px;
   box-shadow:inset 2px 2px 3px rgba(255,255,255,0.6),inset -2px -2px 3px rgba(0,0,0,0.6); 
   cursor: pointer;
   border: none;
  }
  .cancelbtn a{
    text-decoration:none;
    color:white;
  }
  .cancelbtn:hover{
     background-color: darkcyan;
  }
  
  .container input{
     padding: 10px;
  }
  /*
  .imgcontainer {
   text-align: center;
   margin: 24px 0 35px 0;
   position: relative;
  }
  
  img.avatar {
   width: 38%; 
   height: 35%;
   background-color:black;
   border-radius:110px;
  
  }
  */
  .container {
   padding: 16px;
   margin-left: 12px;
   margin-bottom:14px;
   background-color:transparent;

  }
  
  .bottom{
  
   padding: 1.5px 10px 10px 10px;
   height: 50px;
   text-align: center;
  }
  
  .modal {
    position: absolute;
    left:33%; 
    width: 34%; 
    height: 72%;
    border: none;
    background-color: transparent;
  }
  
  .modal-content {
   margin: 10% auto; 
   border: 3px solid black;
   width: 80%; 
   height: 94.75%;
   align-items: center;
  }
  .container .line{
      
     text-align: center;
     font-size: 14px;
     font-weight : bold;
     color: black;
  }
  
  .modal .warning{
     top: 2%;
     position: absolute;
    right: 20.5%;
    display: none;
  }
  .bottom a{
    text-decoration: none;
    color:white;
  }

.btn 
{
display: flex;
justify-content: center;
margin-top: 15px;
}
